NEXT_PUBLIC_SITE_URL=

# Portalnews
NEXT_PUBLIC_PORTALNEWS_API_URL=
NEXT_PUBLIC_PORTALNEWS_IMAGE_BASE=
NEXT_PUBLIC_PORTALNEWS_TOKEN=
PORTALNEWS_PIVOT_HISTORY_URL=
NEXT_PUBLIC_PORTALNEWS_TIKTOK_URL=

# Endpo API (public)
NEXT_PUBLIC_ENDPOAPI_BASE=

# Endpo NM23 (server)
ENDPO_NM23_BASE=
ENDPO_NM23_TOKEN=

# Frankfurter
FRANKFURTER_BASE_URL=
